# Coretax
CORETAX_NIK=your_nik_here
CORETAX_PASSWORD=your_password_here
CORETAX_TARGET_PERIOD=Januari 2026
CORETAX_URL=https://coretaxdjp.pajak.go.id/identityproviderportal/Account/Login
CORETAX_DOWNLOAD_DIR=

# ChromeDriver 
# Windows : C:\tools\chromedriver.exe
# Linux   : /usr/bin/chromedriver
# Mac     : /usr/local/bin/chromedriver
CHROMEDRIVER_PATH=C:\tools\chromedriver.exe

# Selenium 
BROWSER_HEADLESS=false
SELENIUM_TIMEOUT=20
CAPTCHA_RETRY=5

# Qwen / DashScope OCR
QWEN_APIKEY=your_qwen_apikey_here
DASHSCOPE_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
DASHSCOPE_MODEL=qwen3-vl-flash-2026-01-22
