# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log

# Environments
.venv
env/
venv/
venv_local/
ENV/
env.bak/
venv.bak/

# Python tooling
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# Local session state
.session/

# User config
config.json
